#navbar{
	height: 50px;
	background-color: red;
	top: 0;
	left: 0;
	width: 100%;
}

#content{
	margin: auto;
}

#content div{
	margin: 10px;
}

#lastOrder{
	float: left;
	width: 20%;
	height: 200px;
	background-color: blue;
	border: solid black;
}

#makeOrder{
	margin: auto;
	float: left;
	width: 50%;
	height: auto;
	background-color: blue;
	border: solid black;
}

#cart{
	float: left;
	width: 20%;
	height: 200px;
	background-color: blue;
	border: solid black;
}