body{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#content{
	margin: auto;
}

#content div{
	margin: 10px;
}

#lastOrder{
	float: left;
	width: 20%;
	height: 200px;
	background-color: #568999; /*grayish blue*/
	border: solid black;
	border-radius: 10px;
}

#makeOrder{
	margin: auto;
	float: left;
	width: 50%;
	height: auto;
	background-color: #568999; /*grayish blue*/
	border: solid black;
	border-radius: 10px;
}

#cart{
	float: left;
	width: 20%;
	height: 200px;
	background-color: #568999; /*grayish blue*/
	border: solid black;
	border-radius: 10px;
}

.foodSelect{
	background-color: #90FFDD; /*teal*/
	border: 2px #5C2B31 solid; /*Burgundy*/
	margin: 3px;
	border-radius: 5px;
}

#makeOrder form div input {
	margin-left: 40px;
}

#userInfo{
	float: right;
	width: 45%;
	height: auto;
	background-color: navy;

}

#userInfo li{
	list-style-type: none;
	margin: 3px;
}

#userInfo li input{
	border-radius: 5px;
	border: none;
	height: 40px;
	width: 400px;
	font-size: 100%;
}

#orderSummary{
	float: right;
	width: 45%;
	height: auto;
	background-color: navy;
}

.orderList ul > li{
	list-style-type: none;
}

.orderList ul {
	background-color: #90FFDD; /*teal*/
	border: 2px #5C2B31 solid; /*Burgundy*/
	margin: 3px;
	border-radius: 5px;
}

#checkoutButton{
	margin: auto;
}

.title {
color:#C7446A;
font-size:120%;
}

#content > div {
	background-color: #568999; /*grayish blue*/
	border: solid black;
	border-radius: 10px;
}

#content > div div{
	background-color: #90FFDD; /*teal*/
	border: 2px #5C2B31 solid; /*Burgundy*/
	margin: 3px;
	border-radius: 5px;
}




